<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Error!</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
    <h3>Error! Did you fuck up? Try harder.</h3>
    <div id="errorPlaceholder"></div>
    </body>
</html>