<h3>Neue TODO</h3>
<div class="flex-order">
    <form action="/notes/create" method="post">
        <div class="">
            <label>Title</label>
            <input type="text" name="title" placeholder="Beispiel" required>
        </div>
        <div class="">
            <label>Beschreibung</label>
            <input type="text" name="description" placeholder="Deine Notiz" required>
        </div>
        <div class="">
            <label>Wichtigkeit</label>
            <input type="number" name="importance" placeholder="5" min="1" max="5" required>
        </div>
        <div class="">
            <label>Fertig bis</label>
            <input type="date" name="dueToDate" required>
        </div>
        <button class="button" type="submit">Anlegen</button>
        <button class="button" type="reset">Abbruch</button>
    </form>
</div>