<h3>Neue TODO</h3>
<div class="">
    <form action="/notes/create" method="post" class="flex-order">
        <div class="form-item">
            <label>Title</label>
            <input type="text" name="title" placeholder="Beispiel" required>
        </div>
        <div class="form-item">
            <label>Beschreibung</label>
            <textarea name="description" placeholder="Deine Notiz" required></textarea>
        </div>
        <div class="form-item">
            <label>Wichtigkeit</label>
            <input type="number" name="importance" placeholder="5" min="1" max="5" required>
        </div>
        <div class="form-item">
            <label>Fertig bis</label>
            <input type="date" name="dueToDate" placeholder="dd.mm.yyyy" required/>
        </div>
        <div class="form-checkbox">
            <label></label>
            <input type="checkbox"><span>Erledigt !</span>
        </div>
        <div>
            <button class="button" type="submit">Anlegen</button>
            <button class="button" type="reset">Abbruch</button>
        </div>

    </form>
</div>