<h3>Result</h3>
<div class="flex-order">
    <form>
        {{#if note}}
            <div class="">
                <label>Status</label>
                <input type="checkbox"><label>Finished</label>
            </div>
            <div class="">
                <label>Titel</label>
                <span>{{title}}</span>
            </div>
            <div class="">
                <label>Beschreibung</label>
                <textarea readonly>{{description}}</textarea>
            </div>
            <div class="">
                <label>Wichtigkeit</label>
                {{importance}}
            </div>
            <div class="">
                <button type="submit" formaction="/editNote" formmethod="post">Edit</button>
            </div>
        {{else}}
            <div class="">No data yet</div>
        {{/if}}
    </form>
</div>