<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Neue TODO</title>
        <link rel="stylesheet" type="text/css" href="css/{{style}}">
    </head>
    <body>
        <h3>Neue TODO</h3>
        <div class="">
            <form action="/notes" method="post">
                <div class="">
                    <label>Title</label>
                    <input type="text" name="title" placeholder="Beispiel" required>
                </div>
                <div class="">
                    <label>Beschreibung</label>
                    <input type="text" name="description" placeholder="Deine Notiz" required>
                </div>
                <div class="">
                    <label>Wichtigkeit</label>
                    <input type="number" name="importance" placeholder="5" min="1" max="5" required>
                </div>
                <div class="">
                    <label>Fertig bis</label>
                    <input type="date" name="dueToDate" required>
                </div>
                <div class="">
                    <input type="checkbox"><label>Erledigt!</label>
                </div>
                <button type="submit" class="button">Anlegen</button>
                <button type="reset" class="button">Abbruch</button>
            </form>
        </div>
        <!-- TODO: Handelbars here -->
        <div id="notePlaceholder"></div>
    </body>
</html>