body {
    padding: 2em;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #000000;
    background: #00B100;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

a {
    color: #00B7FF;
}

h3:after {
    content: ' ';
    display: block;
    border: 1px solid #006D00;
}
.navigation {
    order: 1;
}

.notes {
    order: 2;
}

.right {
    float: right;
}

.inline-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #CAD0D2;
    border-radius: 4px;
    overflow: hidden;
    margin: 5px 0;
}

.box {
    margin: 0 5px;
    flex: 0 0 auto;
    border: none;
    border-radius: 0;
}

.box-left {
    min-width: 80px;
}

.box-middle {
    flex: 1 0 auto;
}

.box-right button {
    height: 90%;
}

.button {
    background-color: #00F600;
    border: 1px solid #006D00;
    border-radius: 5px;
    color: #000000;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 0;
    cursor: pointer;
    min-width: 150px;
    box-shadow: inset 0 0 0.5rem #002100;
}

.button:hover {
    background-color: #008a00;
}

.flex-order {
    display: flex;
    flex-direction: column;
}

.form-item{
    display: flex;
}

.flex-order .form-item label {
    flex-basis: 20%;
    margin: 0 5px;
}

/*.flex-order .form-item input ,*/
.flex-order .form-item input:not([type="checkbox"]),
.flex-order .form-item textarea {
    flex-basis: 80%;
}

.form-item {
    margin: 5px 0;
}

.form-item label{
    width: 5em;
    text-align: right;
    padding-right: 10px;
}

.form-button {
    margin-left: 20%;
}

input:not([type="checkbox"]), textarea {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

input[type="checkbox"] {
    display: inline-block;
    width: 18px;
    height: 16px;
    margin:10px 0;
    vertical-align:middle;
    cursor: pointer;
}

.span-checkbox {
    padding: 8px 0;
}

.nothing {
    background-color: #008a00;
    padding: 5px;
    border-radius: 5px;

}

@media (max-width: 700px) {
    .button {
        width: 100%;
    }

    .navigation .button + .right {
        float: left;
    }

    .form-button {
        margin-left: 0;
    }

    .form-button .right {
        float: left;
    }

    .inline-box {
        flex-flow: row wrap;
    }

    .inline-box .box {
        flex: 1 1 100%;
    }

    .form-item {
        flex-flow: row wrap;
    }

    .flex-order .form-item label {
        flex: 1 1 100%;
        text-align: left;
    }

    /*.flex-order .form-item input ,*/
    .flex-order .form-item input:not([type="checkbox"]),
    .flex-order .form-item textarea {
        flex: 1 1 100%;
    }

}