body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #ffffff;
}

a {
    color: #00B7FF;
}

h3:after {
    content: ' ';
    display: block;
    border: 1px solid #adadad;
}

.button {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000000;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #adadad;
}

input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}